name: Deploy to Kubernetes

on:
  workflow_run:
    workflows: ["Java CI with Maven"]  # Nombre del flujo de trabajo de construcción
    types:
      - completed
  workflow_dispatch:  # Permite la ejecución manual del flujo de trabajo

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}  # Solo si el flujo de trabajo anterior fue exitoso
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Checkout Configuration Manifests
        uses: actions/checkout@v2
        with:
          repository: tatimun/configuration-manifest  # Repositorio que contiene los manifiestos
          path: configuration-manifests  # Ruta donde se clonará el repositorio
          token: ${{ secrets.GITHUB_TOKEN }}  # Token para acceder al repositorio

      - name: Update and Upgrade Packages
        run: |
          sudo apt-get update -y
          sudo apt-get upgrade -y

      - name: Install Dependencies
        run: |
          # Instalar dependencias necesarias
          sudo apt-get install -y apt-transport-https ca-certificates curl software-properties-common conntrack

          # Instalar Docker
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
          sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable"
          sudo apt-get update -y
          sudo apt-get install -y docker-ce docker-ce-cli containerd.io

          # Permitir ejecutar Docker sin sudo
          sudo usermod -aG docker $USER

          # Instalar cri-dockerd
          sudo apt-get install -y git
          git clone https://github.com/Mirantis/cri-dockerd.git
          cd cri-dockerd
          sudo make install  # Instalar cri-dockerd

          # Instalar Minikube
          curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
          sudo install minikube-linux-amd64 /usr/local/bin/minikube

          # Instalar kubectl
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          sudo mv kubectl /usr/local/bin/
          sudo chmod +x /usr/local/bin/kubectl

          # Iniciar Minikube con driver none
          sudo minikube start --driver=none

          # Instalar JDK 17
          sudo apt-get install -y openjdk-17-jdk

          # Instalar Maven
          sudo apt-get install -y maven

      - name: Deploy to Kubernetes
        run: |
          # Aplicar los manifiestos de Kubernetes
          kubectl apply -f configuration-manifests/k8s/deployment.yaml
          kubectl apply -f configuration-manifests/k8s/service.yaml

      - name: Port Forward
        run: |
          # Realizar port-forward al servicio en segundo plano
          nohup kubectl port-forward service/hello-devops-service 30000:80 &

      - name: Verify Installation and Deployment
        run: |
          echo "Docker version:"
          docker --version
          echo "Kubectl version:"
          kubectl version --client
          echo "Minikube status:"
          minikube status
          echo "Java version:"
          java -version
          echo "Maven version:"
          mvn -version
